@{
    ViewData["Title"] = "Home Page";
}
<div class="StartButton">
    <button id="StartButtonB" type="button" onclick="startGame()" class="btn btn-lg btn-info">StartGame</button>
</div>
<div class="ShowScore" >
    <h3 id="ShowScoreH" class="text-info"></h3>
</div>
<div class="content">
</div>


<div class="alert alert-info instructions">Game play instructions</div>

<div class="box box-top-l" id="Japanese">Japanese</div>
<div class="box box-top-r" id="Chinese">Chinese</div>
<div class="box box-bottom-l" id="Korean">Korean</div>
<div class="box box-bottom-r" id="Thai">Thai</div>
<div id="ScoreSection" class="ScoreSection">
</div>

@section Scripts{
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/Views/Home/Game.js"></script>
}