@{
    ViewData["Title"] = "Home Page";
}



<div class="content">
    <button type="button" onclick="startGame()" class="btn btn-lg btn-info mb-2">Start Game</button>
</div>


<div class="alert alert-info instructions">Game play instructions</div>

<div class="box box-top-l" id="div1">Japanese</div>
<div class="box box-top-r" id="div2">Chinese</div>
<div class="box box-bottom-l" id="div3">Korean</div>
<div class="box box-bottom-r" id="div4">Thai</div>

@section Scripts{
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/Views/Home/Game.js"></script>
}