<div id="sidebar-collapse" class="col-sm-3 col-lg-3 sidebar">

    <div class="profile-sidebar">

        <div class="profile-userpic">
            <img src="/AdminTemplate/Img/ashkan.jpg" class="img-responsive" alt="">
        </div>

        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                <a class="" style="color:#5f5f5f;text-decoration:none" href="#">Ashkan</a>
            </div>
            <div class="profile-usertitle-status">
                <span class="indicator label-success"></span>Online
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="divider"></div>

    <form role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>

    @{ 
        var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
        var actionName = ViewContext.RouteData.Values["action"].ToString();
    } 
    <ul class="nav menu">
        <li  class=@((controllerName=="Home"&&actionName=="Index")?"active":"")><a asp-controller="Home" asp-action="Index"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
        <li class=@((controllerName=="Games"&&actionName=="Index")?"active":"") ><a asp-controller="Games" asp-action="Index"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Games</a></li>
        <li class="parent ">
            <a data-toggle="collapse" href="#sub-item-1">
                <svg class="glyph stroked open folder"><use xlink:href="#stroked-open-folder" /></svg> Game Pictures <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="glyphicon glyphicon-s glyphicon-plus"></em></span>
            </a>

            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="" asp-controller="Pictures" asp-action="Index">
                        <span class="glyphicon glyphicon-share-alt"></span> List Of Pictures
                    </a>
                </li>
                <li>
                    <a class="" asp-controller="Pictures" asp-action="AddPicture">
                        <span class="glyphicon glyphicon-share-alt"></span> Add Pictutre
                    </a>
                </li>
           
            </ul>
        </li>
        

        <li role="presentation" class="divider"></li>
        <li><a href="javascript:void(0)"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Logout</a></li>
    </ul>

</div>